.no-padding {
    padding: 0 !important;
}

.left-padding {
    padding-left: 15px !important;
}

.logout {
    padding-left: 0px;
}

.user-name {
    padding-top: 15px;
}

.btn.navbar-right {
    .btn {
        color: #fff !important;
        margin-top: 5%;
    }
    .btn-danger:hover {
        background-color: darken(#d9534f, 20%);
    }
}